div#root {

  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


.app {
  box-sizing: border-box;
  background-color: cadetblue;
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

.outer {
  box-sizing: border-box;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  height: 100%;
}

.inner {
  background-color: darkseagreen;
  height: 300px;
  flex: 1;
}